/*ESTILO GENERAL*/
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* BARA DE NAVEGACIÓN CON GRADIENTE */
header {
    padding: 20px; /* SEPARACION */
    text-align: center; /* CENTRADO */
    background-color: #282c34;
}

/* ESTILO DE LOS LINKS DE NAVEGACIÓN */
nav a {
    color: #fff; /* COLOR */
    background: linear-gradient(to right, #6a11cb, #2575fc); /*GRADIENTE*/
    text-decoration: none;
    padding: 10px 20px; /* ESPACIADO INTERNO DE LOS ENLACES */
    margin: 0 10px; /* ESPACIADO ENTRE LOS ENLACES */
    display: inline-block; /* BLOQUEO */
    font-weight: bold;
    border: 2px solid #fff; /* BORDE BLANCO */
    border-radius: 20px; /* BORDE REDONDEADO */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* TRANSICIÓN SUAVE DEL OVER */
}

nav a:hover {
    background-color: #61dafb; /* COLOR DE FONDO AL PASAR EL CURSOR */
    border-color: #015870; /* CAMBIAR EL COLOR DEL BORDE */
    color: #000; /* CAMBIA EL COLOR DE LA LETRA */
}

/* PRINCIPAL MAIN */
.principal {
    text-align: center; /* CENTRADO */
    padding: 50px;
    background: linear-gradient(to right, #6a11cb, #2575fc); /*GRADIENTE*/
    color: white;
}

.principal h1 {
    font-size: 3rem; /*FUENTE*/
    margin-bottom: 20px; 
}

.principal p {
    font-size: 1.2rem;
    margin: 0 auto;
    text-align: center;
}

/* SECCIÓN CONT CLASS */
.cont {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.cont h2 {
    text-align: center;
    font-size: 2rem;
    color: #282c34;
}

.cont ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.cont ul li {
    text-align: center;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 10px;
    margin: 10px auto;
    max-width: 65%;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

/* FORMULARIO */
form {
    display: flex; 
    flex-direction: column; /* COLUMNA */
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background: transparent;
    padding: 1px;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #282c34;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}

button:hover {
    background-color: #dd06c0;
}


.descarga a {
    color: #fff; /* COLOR */
    background-color: #4b4b4b; /*COLOR DE FONDO*/
    text-decoration: none;
    padding: 10px 20px; /* ESPACIADO INTERNO DE LOS ENLACES */
    margin: 0 10px; /* ESPACIADO ENTRE LOS ENLACES */
    display: inline-block; /* BLOQUEO */
    border: 2px solid #df08a993; /* BORDE BLANCO */
    border-radius: 50px; /* BORDE REDONDEADO */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* TRANSICIÓN SUAVE DEL OVER */
}

.descarga a:hover {
    background-color: #61dafb; /* COLOR DE FONDO AL PASAR EL CURSOR */
    border-color: #015870; /* CAMBIAR EL COLOR DEL BORDE */
    color: #000; /* CAMBIA EL COLOR DE LA LETRA */
}

.link-contacto {
    background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
}

.link-contacto a img {
        height: 30px;
        width: 30px;
        padding: 50px;
}
  
#mensaje {
    resize: none; /* Impide que se pueda redimensionar */
    width: 100%;  /* Ancho del textarea */
    height: 150px; /* Altura fija */
}

/*scroll*/


.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

/* Estilo del menú hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
  }
  
  /* Estilos responsive */
  @media (max-width: 768px) {
    .menu {
      display: none;
      width: 80%;
      flex-direction: column;
      gap: 0;
      position: absolute;
      top: 50px;
      left: 5px;
      padding: 10px 0;
    }
  
    .menu a {
      padding: 5px;
      text-align: center;
      width: 100%;
      background: #282c34;
      margin-left: 35px;
    }
    
    .menu-toggle {
      display: flex;
      align-items: center;
      
    }
  
    .menu.active {
      display: flex;
    }
  }

/* FOOTER */
/* Estilos generales del footer */
footer {
    display: flex;
    align-items: center;  /* Alinea los elementos verticalmente */
    padding: 10px;
    background-color: #c2c2c2;
    color: rgb(0, 0, 0);
  }
  
  footer p {
    margin-left: 20%;  /* Elimina el margen del párrafo */
    font-size: 16px;
    padding-inline: 200px;
  }
  
  footer img {
    max-width: 100%;  /* Hace que la imagen sea redimensionable */
    height: auto;     /* Mantiene la relación de aspecto de la imagen */
    width: 150px;     /* Tamaño inicial de la imagen */
  }
  
  /* Estilos responsive */
  @media (max-width: 768px) {
    footer {
      flex-direction: column;  /* Cambia la dirección del contenido a columna */
      text-align: center;      /* Centra el texto */ 
    }
    
    footer p {
        width: 75%;  /* Asegura que el texto ocupe el 55% restante */
        margin-left: 10px;
    }

    footer img {
      width: 40%;  /* Hace que la imagen ocupe el 100% del ancho en pantallas pequeñas */
      margin-top: 10px;  /* Da un poco de espacio entre el texto y la imagen */
    }
  }
  
